/* Custom style adjustments for Pure CSS integration */

body {
    font-family: 'Cinzel', serif;
    background-color: #e0f7fa;
    color: #0277bd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem; /* Adjust font size */
    text-align: center;
    color: #0277bd;
}

.pure-form.pure-form-stacked {
    padding: 20px;
    background: #e3f0f3;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    margin: 6px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005f73;
}

#result {
    text-align: center;
    margin-top: 20px;
}
#loadingMessage {
    text-align: center;
    margin-top: 20px;
    color:red;
}

/* Existing styles here */

/* Responsive styles for small screens */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Increase base font size */
    }

    h1 {
        font-size: 6vw; /* Larger font size for headers */
    }

    form {
        width: 90%; /* Increase form width */
    }

    input[type="text"], input[type="submit"] {
        font-size: 1rem; /* Increase font size in inputs */
        padding: 15px; /* Increase padding for better touch interaction */
    }
}

footer {
    background-color: #e0f7fa;/* Or any color that fits your design */
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 20px 0;
    font-size: 0.5rem;
}

footer p {
    margin: 0;
    padding: 0;
}
