<!-- templates/index.html -->
<html>

<head>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <h1>⚓️ Nautical Sailing Predictor ⚓️</h1>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
            <form class="pure-form pure-form-stacked" id="sailingForm" onsubmit="return fetchSailingData(event)">

                Wind (knts): <input type="text" name="wind" placeholder="{{ defaults['wind'] }}"><br>
                Gusts of Wind (knts): <input type="text" name="gust" placeholder="{{ defaults['gust'] }}"><br>
                Direction: <input type="text" name="direction" placeholder="{{ defaults['direction'] }}"><br>
                Location: <input type="text" name="location" placeholder="{{ defaults['location'] }}"><br>
                Experience Hours: <input type="text" name="hours" placeholder="{{ defaults['hours'] }}"><br>
                Waves (meters): <input type="text" name="waves" placeholder="{{ defaults['waves'] }}"><br>
                Boat Size (meters): <input type="text" name="boat_size" placeholder="{{ defaults['boat_size'] }}"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="pure-u-1">
            <div id="result" style="text-align: center;"></div>
            <div id="loadingMessage" style="display: none;">Calculating...</div>
        </div>
    </div>
    <footer class="pure-g">
        <div class="pure-u-1">
            <p>Generated with OpenAI</p>
            <a href="https://gitlab.com/pollosp/barco">Gitlab Code</a>
        </div>
    </footer>
</body>

</html>
